<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- FONTS & STYLE -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/style.css">
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&family=Space+Mono&display=swap" rel="stylesheet">

	<style type="text/css">
		body{
			text-align: center;	
			font-family: 'Raleway', sans-serif;
		}
		button{
			font-family: 'Space Mono', monospace;
			background-color: #5A30F2;
			border-color: #011140;
			color: #FAFAFA;
			padding: 0px 10px !important;
			margin: 10px;
			box-shadow: 4px 4px 0px #979eb3;
		}
		a{
			font-family: 'Space Mono', monospace;
			text-decoration: none;
			margin: 10px;
		}
		h1{
			font-family: 'Space Mono', monospace;
			margin: 10px;
		}
		h2{
			font-family: 'Space Mono', monospace;
			margin: 0px auto;
		}
        h6{
            font-weight: 600;
        }
		hr{
			background-color: #7997f2; height: 4px; margin: -2px 0px;
		}
		.divRegistro{
			background-color: #e2e3e5;
			margin: 0 auto;
			padding: 0px;
		}


	</style>

	<title>Área Funcionarios</title>

	<%- defineContent("styles") %>
</head>
<body>

	<%- body %>

</body>
</html>
