body{
    font-family: 'Montserrat', sans-serif;  
    background-color: #53505E;
}
h1{
    font-weight: 600;
}
.landing{
    background-image: url(../imagens/fundoConsultorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 140px;
    text-align: center;
    color: white;
}
.agendamento{
    padding: 100px 140px;
    text-align: center;
}