/* nativo */
body{
    font-family: 'Montserrat', sans-serif !important;  
    background-color: #F1F1F1 !important;
}
h1{
    font-weight: 700 !important;
}
h3{
    font-weight: 700 !important;
}
h5{
    font-weight: 700 !important;
}
img{
    max-width: 100px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}
label{
    font-weight: 700;
    display: block;
}
input{
    width: 100%;
}
/* fundos */
.landing{
    background-image: url(../imagens/fundoConsultorio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 0px;
    text-align: center;
    color: white;
    margin: 0px auto;
}
.part2{
    background-color: #F1F1F1;
    padding: 35px 0px;
    margin: 0px auto;
}
.part3{
    background-color: #F1F1F1;
    padding: 35px 0px;
    margin: 0px auto;
}
.footer{
    background-color: #292929;
    color: #FAFAFA;
    padding: 30px 0px;
    margin: 0px auto;
}
.agendamento{
    padding: 100px 0px;
    text-align: center;
    background-image: url(../imagens/fundoAgendamento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}   
/* classes */

.limitador{
    max-width: 1400px;	
    margin: 0px auto;
}
.titles{
    font-weight: 700;
    color: #1C578B;
}
.spccard{
    padding: 10px;	
}
.card{
    padding: 20px;
    color: #252620;
    text-align: left;
}
.linha {
	border-color: #4e97c7;
	border-radius: 2px;
	max-width: 30px;
	margin: 15px 0px 15px 0px;
}
.fontFooter{
    font-weight: 200;
    font-size: small;
}
.fundoNav{
    background-color: #7A7A7A;
}
.agendamentoNav{
    padding: 10px !important;
}
.navLink{
    color: #90C4F1 !important;
}
.form-group{
    margin-bottom: 0px !important;
    margin-top: 10px;
}
/* IDs */
#logoFooter{
    max-width: 70%;
    margin: 0px auto;
    margin-bottom: 10px;
}
#footerImage{
    margin-right: 50px;
}
#logoNav{
    max-width: 100%;
    width: 50px;
}
#marcarConsulta{
    font-weight: 700;
    background-color: #2C3E59;
    color: #FAFAFA;
    padding: 7px 10px;
    border-radius: 10px;
    margin: 20px;
}
/* IDs AGENDAMENTO */
#observacao[type=text]{
    height: 200px;
    resize: none;
    box-sizing: border-box;
}