<div class="agendamento">
    <h3 style="margin-bottom: 30px;">Solicite um agendamento</h3>

    <div class="formulario">
    <div class="container-fluid">
        <!-- linha 1 -->
        <div class="row justify-content-md-center linhaForm">
            <div class="col-md-4">
                <div class="form-group"><label for="nome">Nome</label></div>
                <input type="text" id="nome" placeholder="Nome" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="sobrenome">Sobrenome</label></div>
                <input type="text" id="sobrenome" placeholder="Sobrenome" class="form-control"/>
            </div>
        </div>
        <!-- linha 2 -->
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <div class="form-group"><label for="cpf">CPF</label></div>
                <input type="number" id="cpf" placeholder="12344478930" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="email">E-mail</label></div>
                <input type="email" id="email" placeholder="seuemail@mail.com" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="telefone">Telefone</label></div>
                <input type="number" id="telefone" placeholder="(11) 11111-1111" class="form-control"/>
            </div>
        </div>
        <!-- linha 3 -->
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <div class="form-group"><label for="dataConsulta">Data</label></div>
                <input type="date" id="data" placeholder="21/02/2021" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="profissionalSelect">Profissional</label></div>
                <select name="profissionalSelect" class="form-control" id="profissional">
                    <option selected>Selecione o Profissional</option>
                    <option>Dr. Gilberto Cortese</option>
                    <option>Dra. Juliana Cortese</option>
                    <option>Dr. Alexandre Cortese</option>
                    <option>Dr. Fábio Lima</option>
                  </select>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="horario">Horário</label></div>
                <select name="horario" class="form-control" id="horario">
                    <option value="hor0" selected>00:00</option>
                    <option value="hor">08:00</option>
                    <option value="hor2">08:30</option>
                    <option value="hor3">10:30</option>
                    <option value="hor4">14:50</option>
                  </select>
            </div>
        </div>
        <!-- linha 4 -->
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="form-group"><label for="endereco">Endereço</label></div>
                <input type="text" id="endereco" placeholder="Rua XYZ" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="numeroEnd">Número</label></div>
                <input type="number" id="numeroEnd" placeholder="n° 300" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="cepEnd">CEP</label></div>
                <input type="number" id="cepEnd" placeholder=" 04534050" class="form-control"/>
            </div>
        </div>
        <!-- linha 5 -->
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <div class="form-group"><label for="complementoEnd">Complemento</label></div>
                <input type="text" id="complementoEnd" placeholder="Complemento" class="form-control"/>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label for="bairroEnd">Bairro</label></div>
                <input type="text" id="bairroEnd" placeholder=" Jd. Dentes" class="form-control"/>
            </div>
        </div>
        <!-- linha 6 -->
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="form-group"><label for="observacao">Observação</label></div>
                <input type="text" id="observacao" placeholder="Comentário opcional." class="form-control"/>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <button type="button" id="marcarConsulta">Agende sua consulta</button>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
    //DADOS PESSOAIS
	let nome = document.getElementById("nome");
	let sobrenome = document.getElementById("sobrenome");
    let cpf = document.getElementById("cpf");
    let email = document.getElementById("email");
    //DADOS CONSULTA
    let data = document.getElementById("data");
    let profissional = document.getElementById("profissional");
    let horario = document.getElementById("horario");
    //DADOS ENDEREÇO
    let endereco = document.getElementById("endereco");
    let numeroEnd = document.getElementById("numeroEnd");
    let cepEnd = document.getElementById("cepEnd");
    let complementoEnd = document.getElementById("complementoEnd");
    let bairroEnd = document.getElementById("bairroEnd");
    let observacao = document.getElementById("observacao");
	let marcarConsulta = document.getElementById("marcarConsulta");

	async function criarAgendamento() {
        //DADOS PESSOAIS
		if (!nome.value) {
			alert("O nome é obrigatório");
			return;
		}

		if (!sobrenome.value) {
			alert("O sobrenome é obrigatório");
			return;
		}

		if (isNaN(parseInt(cpf.value))) {
			alert("O cpf é obrigatório");
			return;
		}

		if (!email.value) {
			alert("O e-mail é obrigatório");
			return;
		}

        //DADOS CONSULTA
        var d = new Date(data.value);
        var verificador = d.getDay();
        if (!data.value) {
			alert("Escolha uma data válida!");
			return;
		}
        if (verificador == 5 || verificador == 1) {
            alert("Nâo é possível agendar consultas no final de semana");
        }

		if (!profissional.value || profissional.value == "prof0") {
			alert("Escolha um profissional!");
			return;
		}

		if (!horario.value || horario.value == "hor0") {
			alert("Escolha um horário válido!");
			return;
		}

		//DADOS ENDEREço
        if (!endereco.value) {
			alert("O endereço é obrigatório");
			return;
		}

		if (isNaN(parseInt(numeroEnd.value))) {
			alert("O número é obrigatório");
			return;
		}

		if (isNaN(parseInt(cepEnd.value))) {
			alert("O CEP é obrigatório");
			return;
		}

        if (!bairroEnd.value) {
			alert("O bairro é obrigatório");
			return;
		}
        
		// Cria um objeto com os valores que serão enviados para o servidor.
		let dadosParaEnvio = {
			nome: nome.value,
			sobrenome: sobrenome.value,
            cpf: cpf.value,
            email: email.value,
            data: data.value,
            profissional: profissional.value,
            horario: horario.value,
            endereco: endereco.value,
            numeroEnd: numeroEnd.value,
            cepEnd: cepEnd.value,
            bairroEnd: bairroEnd.value,
            observacao: observacao.value,
		};

		let opcoes = {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
		    },
		    body: JSON.stringify(dadosParaEnvio)
		};

		try {
			let response = await fetch("/criarAgendamento", opcoes);

			if (response.ok) {
				// Limpa os campos para facilitar a criação da próxima pessoa.
				nome.value = "";
				sobrenome.value = "";
                cpf.value = "";
                email.value = "";
                data.value = "";
                profissional.value = "";
                horario.value = "";
                endereco.value = "";
                numeroEnd.value = "";
                cepEnd.value = "";
                bairroEnd.value = "";
                observacao.value = "";

				alert("Agendamento realizado com sucesso!");
			} else {
				alert("Erro ao agendar!");
			}
		} catch (ex) {
			alert("Erro de rede: " + ex.message);
		}
	}
    async function buscaHorario() {
        alert(profissional.value);
        alert(data.value + "       D:< tudo torto");
        
    }

	marcarConsulta.onclick = criarAgendamento;
    horario.onclick  = buscaHorario;

</script>
