<div class="agendamento">
    <h3 style="margin-bottom: 30px;">Solicite um agendamento</h3>

    <div class="formulario">
    <div class="container-fluid">
        <!-- linha 1 -->
        <div class="row justify-content-md-center linhaForm">
            <div class="col-md-4">
                <div class="form-group"><label for="nome">Nome</label></div>
                <input type="text" id="nome" placeholder="Nome" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="sobrenome">Sobrenome</label></div>
                <input type="text" id="sobrenome" placeholder="Sobrenome" class="form-control"/>
            </div>
        </div>
        <!-- linha 2 -->
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <div class="form-group"><label for="cpf">CPF</label></div>
                <input type="number" id="cpf" placeholder="12344478930" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="email">E-mail</label></div>
                <input type="email" id="email" placeholder="seuemail@mail.com" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="telefone">Telefone</label></div>
                <input type="number" id="telefone" placeholder="(11) 11111-1111" class="form-control"/>
            </div>
        </div>
        <!-- linha 3 -->
        <div class="row justify-content-md-center">
            <div class="col-md-2">
                <div class="form-group"><label for="dataConsulta">Data</label></div>
                <input type="date" id="data" placeholder="21/02/2021" class="form-control"/>
            </div>
            <div class="col-md-4">
                <div class="form-group"><label for="profissionalSelect">Profissional</label></div>
                <select name="profissionalSelect" class="form-control">
                    <option value="prof0" selected>Selecione o Profissional</option>
                    <option value="prof1">Dr. Gilberto Cortese</option>
                    <option value="prof2">Dra. Juliana Cortese</option>
                    <option value="prof3">Dr. Alexandre Cortese</option>
                    <option value="prof4">Dr. Fábio Lima</option>
                  </select>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="profissionalSelect">Horário</label></div>
                <select name="profissionalSelect" class="form-control">
                    <option value="prof0" selected>00:00</option>
                    <option value="prof1">08:00</option>
                    <option value="prof2">08:30</option>
                    <option value="prof3">10:30</option>
                    <option value="prof4">14:50</option>
                  </select>
            </div>
        </div>
        <!-- linha 4 -->
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="form-group"><label for="endereco">Endereço</label></div>
                <input type="text" id="endereco" placeholder="Rua XYZ" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="numeroEnd">Número</label></div>
                <input type="number" id="numeroEnd" placeholder="n° 300" class="form-control"/>
            </div>
            <div class="col-md-2">
                <div class="form-group"><label for="cepEnd">CEP</label></div>
                <input type="number" id="cepEnd" placeholder=" 04534050" class="form-control"/>
            </div>
        </div>
        <!-- linha 5 -->
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <div class="form-group"><label for="complementoEnd">Complemento</label></div>
                <input type="text" id="complementoEnd" placeholder="Complemento" class="form-control"/>
            </div>
            <div class="col-md-3">
                <div class="form-group"><label for="bairroEnd">Bairro</label></div>
                <input type="text" id="bairroEnd" placeholder=" Jd. Dentes" class="form-control"/>
            </div>
        </div>
        <!-- linha 6 -->
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="form-group"><label for="observacao">Observação</label></div>
                <input type="text" id="observacao" placeholder="Comentário opcional." class="form-control"/>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <button type="button" id="marcarConsulta">Agende sua consulta</button>
        </div>
    </div>
    </div>
</div>