
<!-- 1ª parte-->
<div class="landing">
    <h1>Clínica Cortese</h1>
    <p>Melhor atendimento da região</p>
</div>


<!-- 2ª parte-->
<div class="part2">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <img src="../../public/imagens/logoEmpty.png" style="max-width: 400px; margin: 0px auto;">
            </div>

            <div class="col-md-6">
                <h2 class="titles">A Clinica</h2>
                <p>
                    Desde 1963 a Clínica Cortese oferece a seus clientes um atendimento personalizando visando o bem estar e o conforto a seus 
                    colaboradores. Localizada em um ponto de fácil acesso, a Clínica Cortese oferece a seus clientes salas climatizadas, ampla 
                    recepção, sistema WI-FI, e estacionamento. Equipada com modernos aparelhos e monitorado por profissionais treinados e 
                    atualizados, a Clínica Cortese tem como missão oferecer o que há de melhor no tratamento odontológico, com destaque, 
                    nas especialidades da Ortodontia, Estética e Ortodontia Facial.

                </p>
            </div>

        </div>
    </div>
</div>

<!-- parte 3-->  
<div class="part3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="fundo-coluna1">
           
            <h1>
         Breves Informações
            </h1>
        <hr class="linha">
            <p>
        A Clínica adota técnicas modernas e avançadas para prevenir e tratar problemas que possam interferir no correto posicionamento dos dentes.
            </p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="fundo-coluna1">
                        <h1>
                        Equipe
                        </h1>
                            <hr class="linha">
                        <p> Dr. Gilberto Cortese</p>
                        <p> Dra. Juliana Cortese</p>
                        <p> Dr. Alexandre Cortese</p>
                        <p> Dr. Fábio Lima </p>
                </div>
            </div>
            
        <div class="col-md-4">
            <div class="fundo-coluna1">
                        <h1>
                        Especialidades
                        </h1>				
                            <hr class="linha">
                        <p> Ortodontia</p>
                        <p> Ortodontia Facial</p>
                        <p> Estética</p>
                        
            </div>
        </div>
    </div>
            
        <div class="row">
            <div class="col-md-4">
                    <div class="fundo-coluna2">
                        <h1>
                        Local
                        </h1>				
                            <hr class="linha">
                        <p> Endereço: R. Virgílio Várzea, 58 - Itaim Bibi, São Paulo - SP, 04534-050</p>
                        <p> Telefone: (11) 3168-3554</p>
                    
                    </div>
            </div>
            
            <div class="col-md-4">
                    <div class="fundo-coluna2">
                        <h1>
                        Méritos
                        </h1>				
                            <hr class="linha">
                        <p>
                        Nos dias 7 e 8 de 2015 aconteceu o XII Encontro Científico da APCD Jardim Paulista, sob a coordenação do dr. Alexandre Cortese e organização da Diretoria.
                        </p>
                </div>
            </div>
            
            <div class="col-md-4">
                    <div class="fundo-coluna2">
            <h1>
            Informações sobre o atendimento
            </h1>
                <hr class="linha">
            <p>
            Por consêquencia do COVID-19 os horários de atendimento foram alterados, mas continuamos com nosso atendimento seguindo os protocolos.
            </p>
            
                    </div>	
            </div>
        </div>
    </div>
</div>