<div style="margin: 0px auto; padding-top: 20%;">
<div>
	<div><label for="login">usuário</label></div>
	<input type="text" id="login" name="login" maxlength="10" style="max-width: 34%;"/>
</div>

<div>
	<div><label for="senha">senha</label></div>
	<input type="password" id="senha" name="senha" maxlength="10" style="max-width: 34%;"/>
</div>

<div>
	<a href="/registros"><button type="button" id="logar">LOGAR</button></a>
</div>
</div>